<a href="https://colab.research.google.com/github/Triomphi/Hamoye-internship/blob/master/Stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [48]:
import pandas as pd
data = pd.read_csv('fuel_ferc1.csv')

In [11]:
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

Question 1

In [44]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [45]:
A.append(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34, [13, 21, 34]]

Question 2

In [46]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [47]:
eye(3)

NameError: ignored

In [36]:
np.array([1,0,0],[0,1,0],[0,0,1])

TypeError: ignored

In [35]:
np.array[(1,0,0),(0,1,0),(0,0,1)]

TypeError: ignored

Question 4

In [50]:
#get the description for the fuel_mmbtu_per_unit column
data.fuel_mmbtu_per_unit.describe()

count    23399.000000
mean         8.857944
std         11.021860
min          0.000001
25%          1.022000
50%          5.783484
75%         17.218000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Question 6

In [49]:
data.isnull().sum()

record_id                         0
utility_id_ferc1                  1
report_year                       1
plant_name_ferc1                  1
fuel_type_code_pudl               1
fuel_unit                       149
fuel_qty_burned                   1
fuel_mmbtu_per_unit               1
fuel_cost_per_unit_burned         1
fuel_cost_per_unit_delivered      1
fuel_cost_per_mmbtu               1
dtype: int64

In [7]:
(((data.isnull().sum())/ len(data)) * 100).round(3)

record_id                       0.000
utility_id_ferc1                0.004
report_year                     0.004
plant_name_ferc1                0.004
fuel_type_code_pudl             0.004
fuel_unit                       0.637
fuel_qty_burned                 0.004
fuel_mmbtu_per_unit             0.004
fuel_cost_per_unit_burned       0.004
fuel_cost_per_unit_delivered    0.004
fuel_cost_per_mmbtu             0.004
dtype: float64

Question 5

In [8]:
data['fuel_qty_burned'].skew()

19.86614398366284

In [10]:
data['fuel_qty_burned'].kurt()

939.1193638247685

Question 3

In [12]:
data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values(ascending = True)

fuel_type_code_pudl
gas          15.126655
waste        15.367243
other        17.789037
coal         71.123300
oil         149.183004
nuclear    3971.201897
Name: fuel_cost_per_unit_burned, dtype: float64

Question 8

In [27]:
corre = data.corr()
corre

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.014537
report_year                           0.068928  ...             0.050622
fuel_qty_burned                      -0.060342  ...            -0.013159
fuel_mmbtu_per_unit                  -0.072608  ...            -0.048757
fuel_cost_per_unit_burned            -0.032829  ...            -0.002509
fuel_cost_per_unit_delivered         -0.018811  ...            -0.001431
fuel_cost_per_mmbtu                   0.014537  ...             1.000000

[7 rows x 7 columns]

In [29]:
corre['fuel_cost_per_unit_burned'].sort_values(ascending=True)

utility_id_ferc1               -0.032829
fuel_qty_burned                -0.017302
fuel_cost_per_mmbtu            -0.002509
fuel_mmbtu_per_unit             0.000628
report_year                     0.007263
fuel_cost_per_unit_delivered    0.009341
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

Question 9

In [17]:
#get the data for only fuel type of coal 
coal = data[data['fuel_type_code_pudl']=='coal']

In [18]:
#fuel cost per unit burned over the years for coal users
#group by the year and show their respective sum of fuel cost per unit burned
coal.groupby('report_year')['fuel_cost_per_unit_burned'].sum()

report_year
1994.0     14984.572
1995.0     14571.785
1996.0     12694.803
1997.0     43742.178
1998.0     11902.597
1999.0     16303.468
2000.0    100428.831
2001.0     15109.012
2002.0      9171.164
2003.0     30954.110
2004.0      9632.063
2005.0     11107.182
2006.0     12402.684
2007.0     12965.171
2008.0     14331.348
2009.0     45554.858
2010.0     88627.745
2011.0     17001.015
2012.0     17546.097
2013.0      4735.648
Name: fuel_cost_per_unit_burned, dtype: float64

In [21]:
((11902.597 - 14984.572)/14984.572) * 100

-20.567654518260518

Question 10

In [30]:
#since we're looking for the year with the highest average fuel cost per unit delivered,
#group the data by year the print the respective averages of the fuel cost per unit delivered per year
#arramge in descending order(highest to smallest)

data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending = False)

report_year
1997.0    11140.197239
1996.0     9196.705948
2000.0      985.362877
2009.0      652.694163
1998.0      287.154420
2004.0      139.524275
2010.0       91.862105
1994.0       63.636060
2012.0       60.994502
2001.0       60.050396
2011.0       59.774667
2008.0       58.588197
2003.0       55.663493
2013.0       53.765167
2002.0       47.594361
2007.0       43.325023
2005.0       41.438184
2006.0       38.657484
1995.0       32.735269
1999.0       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64